@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title"> Gelecek işlemleri </h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Gelecek Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactMail">Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureTitle1" id="ContactMail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactLocation">Açıklama giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureDecsription1" id="ContactLocation">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactMail">Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureTitle2" id="ContactMail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactLocation">Açıklama giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureDecsription2" id="ContactLocation">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactMail">Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureTitle3" id="ContactMail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactLocation">Açıklama giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureDecsription3" id="ContactLocation">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary"> Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>