@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title"> Hakkımızda işlemleri </h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutTitle">Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="AboutTitle" id="AboutTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutImage">Görselin linkini giriniz</label>
                                <input type="text" class="form-control" asp-for="AboutImage" id="AboutImage">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutDescription">Açıklamayı giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="AboutDescription" id="AboutDescription"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Hakkımda Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>