@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title"> İndirim işlemleri </h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İndirim işlemleri Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutTitle">İndirim Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="AboutTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutImage">Görselin linkini giriniz</label>
                                <input type="text" class="form-control" asp-for="Image" id="AboutImage">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutImage">Miktar giriniz</label>
                                <input type="text" class="form-control" asp-for="Amount" id="AboutImage">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AboutDescription">Açıklamayı giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="AboutDescription"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İndirim Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>